<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!--Import Google Icon Font-->
           <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <title>Admin View</title>
    <style>
     img{
          height:200px;
        }

        @media only screen and (max-width: 1000px) {
          img{
            height:500px;
          }
        }
    </style>
  </head>
  <body class="">
        <div class="navbar-fixed">
          <nav class="nav-wrapper grey lighten-4">
            <div class="container">
              <a href="" class = "brand-logo black-text ">ADMIN</a>
              <a href="" class="sidenav-trigger" data-target="sidebar_id">
                <i class="material-icons">menu</i>
              </a>
              <!--
                  for small screens the nav icon vanishes and the li's appear
             -->
              <ul class ="right hide-on-med-and-down">
               <li ><a href="#" class="btn-floating grey darken-2 black-text"><i class="material-icons large">person</i></a></li>
                <li><a href="#" class="black-text">ABOUT</a></li>
                <li><a href="#" class="black-text">CONTACT</a></li>
                <li><a href="#" class ="btn amber lighten-1 waves-effect">Login/Logout</a></li>
              </ul>

            </div>
          </nav>
        </div>
        <ul class="sidenav grey lighten-1" id ="sidebar_id">
          <li><a href="#" class="btn green accent-3"><i class="center material-icons blue-text large ">person</i></a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#" class ="btn amber lighten-1 waves-effect left">Login/Logout</a></li>
        </ul>

        {% block content %}
        {% endblock %}

 <footer class="page-footer grey">
                    <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Academic Office (ASE Group 16)</h5>
                <p class="grey-text text-lighten-4">
                  A web app to automate the tasks of academic office,

                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Actors</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Admin</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Teacher</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Student</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Groups</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Group 16
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>


        $(document).ready(function(){
          $('.sidenav').sidenav();
        })
        </script>
  </body>
</html>
