<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Google Icon Font-->
           <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <title>Student View</title>
    <style>
        img{
          height:200px;
        }

        @media only screen and (max-width: 1000px) {
          img{
            height:500px;
          }
        }
    </style>
  </head>
  <body class="">
  <body class="grey lighten-2">
      <div class="navbar-fixed">
          <nav class="nav-wrapper indigo accent-3">
            <div class="container">
              {% block content2 %}
              {% endblock %}
              <a href="" class="sidenav-trigger" data-target="sidebar_id">
                <i class="material-icons">menu</i>
              </a>
              <ul class ="right hide-on-med-and-down">
                <li ><a href="#" class="btn-floating blue darken-2 waves-effect"><i class="material-icons  large">person</i></a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#" class ="btn amber lighten-1 waves-effect">Login/Logout</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <ul class="sidenav grey lighten-3" id ="sidebar_id">
          <li><div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">home</i>Home</a></li>
          <li><a href="#!">Contact</a></li>
          <li><div class="divider"></div></li>
          <li><a href="#!">About</a></li>
          <li><a class="waves-effect" href="#!">Logout</a></li>

      </ul>
        {% block content %}
        {% endblock %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      })
      </script>
  </body>
</html>
